:root * {
	--md-primary-fg-color: #2C2C34;

	--md-accent-fg-color: #11B5E4;
	--md-accent-bg-color: #4FB986;

	--md-code-fg-color: var(--md-primary-fg-color);
	--md-code-bg-color: #F5F5F5;
	--md-code-hl-operator-color: #6895a3;
	--md-code-hl-keyword-color: #21D19F;
	--md-code-hl-number-color: #0CAADC;
	--md-code-hl-string-color: #11B5E4;
	--md-code-hl-comment-color: #168D6B;
	--md-code-hl-special-color: var(--md-code-hl-keyword-color);
	--md-code-hl-function-color: var(--md-code-fg-color);
	--md-code-hl-constant-color: var(--md-code-hl-keyword-color);
	--md-code-hl-name-color: var(--md-code-fg-color);
	--md-code-hl-punctuation-color: var(--md-code-hl-operator-color);
	--md-code-hl-generic-color: var(--md-code-fg-color);
	--md-code-hl-variable-color: var(--md-code-fg-color);
}

:root {
	--md-admonition-icon--typedef: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M4.72 3.22a.75.75 0 011.06 1.06L2.06 8l3.72 3.72a.75.75 0 11-1.06 1.06L.47 8.53a.75.75 0 010-1.06l4.25-4.25zm6.56 0a.75.75 0 10-1.06 1.06L13.94 8l-3.72 3.72a.75.75 0 101.06 1.06l4.25-4.25a.75.75 0 000-1.06l-4.25-4.25z"/></svg>')
}

.md-typeset .admonition.typedef,
.md-typeset details.typedef {
	border-color: #11B5E4;
}

.md-typeset .typedef > .admonition-title,
.md-typeset .typedef > summary {
	background-color: #eff8fa;
	border-color: #11B5E4;
	font-family: var(--md-code-font-family,),SFMono-Regular,Consolas,Menlo,monospace;
	font-weight: 100;
}
.md-typeset .typedef > .admonition-title::before,
.md-typeset .typedef > summary::before {
	background-color: #11B5E4;
	-webkit-mask-image: var(--md-admonition-icon--typedef);
	mask-image: var(--md-admonition-icon--typedef);
}

article a {
	text-decoration-line: underline;
	text-decoration-style: dotted;
}